<div class="container main center login">
  <div>
    <form
      class="login__form"
      [formGroup]="logInForm"
      (ngSubmit)="onSubmit($event)"
      *ngIf="!isSignUpForm; else registrationForm"
    >
      <div class="login__group">
        <label for="username" class="login__label">Name*</label>
        <input
          class="login__input"
          type="text"
          id="username"
          name="username"
          formControlName="username"
        />
        <span
          class="login__text login__text--warning"
          *ngIf="logInForm.get('username').invalid && logInForm.get('username').touched"
          >Please enter the valid name
        </span>
      </div>

      <div class="login__group">
        <label for="password" class="login__label">Password*</label>
        <input
          class="login__input"
          type="password"
          id="password"
          name="password"
          formControlName="password"
        />
        <span
          class="login__text login__text--warning"
          *ngIf="logInForm.get('password').invalid && logInForm.get('password').touched"
          >Please enter the valid password
        </span>
      </div>
      <button
        class="game-button login__button"
        type="submit"
        [disabled]="!logInForm.valid"
        [title]="!logInForm.valid ? 'Please complete all required fields' : 'Log In'"
      >
        Log In
      </button>
      <br />
      <span class="login__text">Don't have an account? </span>
      <a [routerLink]="" [queryParams]="{ form: 'registration' }"
        ><button class="game-button login__button" type="button">Sign up</button></a
      >
    </form>

    <ng-template #registrationForm>
      <form class="login__form" [formGroup]="signUpForm" (ngSubmit)="onSubmit($event)">
        <div formGroupName="userInformation">
          <div class="login__group">
            <label for="usernameSignUp" class="login__label">Name*</label>
            <input
              class="login__input"
              type="text"
              id="usernameSignUp"
              name="usernameSignUp"
              formControlName="usernameSignUp"
              placeholder="Create a unique name"
            />
            <span
              class="login__text login__text--warning"
              *ngIf="
                signUpForm.get('userInformation.usernameSignUp').invalid &&
                signUpForm.get('userInformation.usernameSignUp').touched
              "
              >Please enter the valid name
            </span>
          </div>

          <div class="login__group">
            <label for="passwordSignUp" class="login__label">Password*</label>
            <input
              class="login__input"
              type="password"
              id="passwordSignUp"
              name="passwordSignUp"
              formControlName="passwordSignUp"
              placeholder="Create a password"
            />
            <span
              class="login__text login__text--warning"
              *ngIf="
                signUpForm.get('userInformation.passwordSignUp').invalid &&
                signUpForm.get('userInformation.passwordSignUp').touched
              "
              >Password must contain at least one number and one uppercase and lowercase letter, and
              at least 8 or more characters
            </span>
          </div>

          <div class="login__group">
            <label for="confirmPassword" class="login__label">Confirm Password*</label>
            <input
              class="login__input"
              type="password"
              id="confirmPassword"
              name="password"
              formControlName="confirmPassword"
              placeholder="Confirm a password"
            />
            <span
              class="login__text login__text--warning"
              *ngIf="
                signUpForm.get('userInformation.confirmPassword').invalid &&
                signUpForm.get('userInformation.confirmPassword').touched &&
                signUpForm.get('userInformation.confirmPassword').value !==
                  signUpForm.get('userInformation.passwordSignUp').value
              "
              >Please enter the same password
            </span>
          </div>
        </div>

        <div formGroupName="playerInformation">
          <div class="login__group--gender">
            <div class="login__group--radio" *ngFor="let gender of genders">
              <label [for]="gender">{{ gender }}</label>
              <input
                class="login__input"
                type="radio"
                [id]="gender"
                [value]="gender"
                formControlName="gender"
              />
            </div>
          </div>

          <div class="login__group">
            <label for="dateOfBirth" class="login__label">Date of birth*</label>
            <input
              class="login__input"
              type="date"
              id="dateOfBirth"
              name="dateOfBirth"
              formControlName="dateOfBirth"
            />
            <span
              class="login__text login__text--warning"
              *ngIf="
                signUpForm.get('playerInformation.dateOfBirth').invalid &&
                signUpForm.get('playerInformation.dateOfBirth').touched
              "
              >Please enter your birth date
            </span>
          </div>

          <div class="login__group">
            <label for="country" class="login__label">country</label>
            <input
              class="login__input"
              type="text"
              id="country"
              name="country"
              formControlName="country"
              placeholder="Enter your country"
            />
            <span
              class="login__text login__text--warning"
              *ngIf="
                signUpForm.get('playerInformation.country').invalid &&
                signUpForm.get('playerInformation.country').touched
              "
              >Please enter your country
            </span>
          </div>
        </div>

        <button
          class="game-button login__button"
          type="submit"
          [disabled]="!signUpForm.valid"
          [title]="!signUpForm.valid ? 'Please complete all required fields' : 'Create an account'"
        >
          Sign Up
        </button>
      </form>
    </ng-template>
  </div>
</div>
