@import 'src/assets/styles/variables';

.login {
  &__form {
    width: $width-form;
    border: $primary-border;
    padding: $primary-indent;
    background-color: $background-color;
    text-align: right;
    border-radius: $border-radius;
    font-size: $default-font-size;
  }

  &__group {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 0;
    text-align: left;
    &--gender {
      margin-top: 1rem;
      flex-direction: column;
    }
    &--radio {
      display: flex;
      flex-direction: column;
      text-align: center;

      & label {
        padding: 1rem;
        margin: 0.1rem;
        border: $primary-border;
        border-radius: $border-radius;
        transition: border-color 0.3s ease-out;
        word-wrap: break-spaces;

        &:hover {
          border: 1.5px solid $secondary-color;
        }
      }
    }

    &--avatar {
      justify-content: center;
      flex-wrap: wrap;

      & label {
        padding: 1rem;
        margin: 0.1rem;
        border: $primary-border;
        border-radius: $border-radius;
        transition: border-color 0.3s ease-out;

        &:hover {
          border: 1.5px solid $secondary-color;
        }
      }
    }
  }

  & [type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + label {
      border: 1.5px solid $secondary-color;
    }
  }

  &__text {
    text-transform: lowercase;
    color: $service-color;
    font-size: $text-form-font-size;
    text-align: right;
    &--warning {
      font-family: sans-serif;
      position: absolute;
      bottom: 0;
      right: 0;
      color: $secondary-color;
    }
  }

  &__input {
    height: $height-bar-links;
    background-color: $service-color;
    padding: 0.5rem;
    border-radius: $border-radius/2;
    &:focus {
      outline: none;
    }
    &.ng-invalid.ng-touched {
      border: $hover-border;
    }
    &[type='date'] {
      appearance: none;
      &::-webkit-clear-button {
        display: none;
      }
      &::-webkit-inner-spin-button {
        display: none;
      }
      &::-webkit-calendar-picker-indicator {
        color: $secondary-color;
      }
    }
  }

  &__button {
    margin-top: 1rem;
    &:hover:enabled {
      border-color: $secondary-color;
      box-shadow: inset 0 (-$controls-button-height) 0 0 $secondary-color;
      cursor: pointer;
    }
    &:disabled {
      cursor: no-drop;
      color: $service-color;
    }
  }

  & .icon {
    max-width: $max-width-icon;
    margin: 0 1rem;
  }
}

@media (max-width: $breakpoint-tablet) {
  .login {
    &__form {
      width: 100%;
      font-size: 1rem;
    }

    &__text {
      font-size: 0.5rem;
    }

    &__input {
      margin-left: 1rem;
    }

    & .icon {
      max-width: $max-width-icon;
      margin: 0 1rem;
    }
  }
}
