<section class="container main">
  <div class="spectator__block">
    <ul class="spectator__list">
      <li *ngIf="!activeGames || !activeGames.length" class="spectator__item">No games</li>
      <li *ngFor="let game of activeGames" class="spectator__item">
        <img class="icon" src="../../../assets/images/{{ game.player.avatar }}" alt="icon" />
        <p>{{ game.player.username }}</p>
        <p>LEVEL {{ game.level }}</p>
        <button class="game-button" (click)="connectToSpectateGame(game.player.username)">
          spectate
        </button>
      </li>
    </ul>
  </div>
</section>
