<div class="container main">
  <div class="profile">
    <img class="icon" src="../../../assets/images/{{ currentUser?.avatar }}" alt="icon" />
    <section class="profile__information">
      <p class="profile__information--name">{{ currentUser?.username }}</p>
      <p>{{ userAge }} years, {{ currentUser?.gender }}</p>
      <p>{{ currentUser?.country }}</p>
      <button class="game-button" (click)="onLogout()">
        Logout
      </button>
    </section>
  </div>
  <header class="leaderboard leaderboard__header">
    <ul class="leaderboard__list">
      <li class="leaderboard__field--index">№</li>
      <li class="leaderboard__field leaderboard__player-name">name</li>
      <li class="leaderboard__field">score</li>
      <li class="leaderboard__field">level</li>
      <li class="leaderboard__field">lines</li>
    </ul>
  </header>
  <ul class="leaderboard" *ngFor="let result of currentUserResults; let i = index">
    <li class="leaderboard__list">
      <span class="leaderboard__field--index">{{ i + 1 }}</span>
      <span class="leaderboard__field leaderboard__player-name">{{ result.username }}</span>
      <span class="leaderboard__field">{{ result.score }}</span>
      <span class="leaderboard__field">{{ result.level }}</span>
      <span class="leaderboard__field">{{ result.lines }}</span>
    </li>
  </ul>
</div>
