@import './src/assets/styles/variables';

.next-figure {
  &__label {
    padding: $secondary-indent;
    margin-bottom: $primary-indent / 2;
    color: $service-color;
    text-align: center;
  }
  &__field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $center;
    width: $inform-field-width * 2;
    height: $inform-field-height * 2;
    background-color: $background-color;
    border: $primary-border;
  }
}

@media (max-width: $breakpoint-tablet) {
  .next-figure {
    &__label {
      font-size: 1rem;
    }

    &__field {
      margin-bottom: 0.5rem;
      width: $inform-field-width * 1.3;
      height: $inform-field-height * 1.6;
    }
  }
}
