<header class="header">
  <div class="logo">tetris</div>
  <atg-player-profile-header *ngIf="userIsAuthenticated; else login"></atg-player-profile-header>
  <div class="wrap-links">
    <nav class="container">
      <div class="header__toggle">
        <input #checkbox type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul class="header__list">
          <li (click)="hideCheckbox()">
            <a
              class="header-link"
              *ngIf="!userIsAuthenticated; else profile"
              routerLink="/login"
              routerLinkActive="active-link"
            >
              login
            </a>
          </li>
          <li (click)="hideCheckbox()">
            <a class="header-link" routerLink="/game" routerLinkActive="active-link"> game </a>
          </li>
          <li>
            <a
              class="header-link mobile-display-none"
              routerLink="/option"
              routerLinkActive="active-link"
            >
              option
            </a>
          </li>
          <li (click)="hideCheckbox()">
            <a
              class="header-link"
              routerLink="/spectate"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              Spectate
            </a>
          </li>
          <li (click)="hideCheckbox()">
            <a class="header-link" routerLink="/leaderboard" routerLinkActive="active-link">
              leaderboard
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<ng-template #login class="modal">
  <a class="header-link--button game-button header__logout" routerLink="/login">login</a>
</ng-template>
<ng-template #profile class="modal">
  <a class="header-link" routerLink="/profile" routerLinkActive="active-link">my profile</a>
</ng-template>
