@import './src/assets/styles/variables';

.header {
  text-align: center;
  padding: 2rem 0;

  & .logo {
    display: inline-block;
    margin: $center;
    font-size: $h1-font-size;

    & span {
      background-color: $secondary-color;
      padding: 0 0.1rem;
      line-height: $h1-font-size - 2rem;
    }
  }

  & .wrap-links {
    margin-top: $primary-indent;
    border-top: $primary-border;
    border-bottom: $primary-border;
    transition: 0.35s ease-out;

    &:hover {
      border-color: $primary-color;
      box-shadow: inset 0 (-$controls-button-height) 0 0 $secondary-color;

      & .active-link {
        color: $primary-color;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $height-bar-links;
    list-style: none;
  }

  &__toggle {
    & span,
    & input {
      display: none;
    }
  }

  &__logout {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  &-link {
    color: $default-color;
    text-decoration: none;

    &--button {
      text-align: center;
      text-decoration: none;
      &:hover {
        border-color: $primary-color;
        box-shadow: inset 0 (-$controls-button-height) 0 0 $secondary-color;
        cursor: pointer;
      }
    }
  }
}

.active-link {
  color: $secondary-color;
}

@media (max-width: $breakpoint-tablet) {
  .header {
    &__toggle {
      display: block;
      position: absolute;
      top: 11rem;
      z-index: 1;

      & input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        &:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: $secondary-color;
        }

        &:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }

        &:checked ~ ul {
          transform: none;
        }
      }

      & span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $default-color;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

        &:first-child {
          transform-origin: 0 0;
        }

        &:nth-last-child(2) {
          transform-origin: 0 100%;
        }
      }
    }

    & .wrap-links {
      border: none;
    }

    &__list {
      display: block;
      position: absolute;
      width: 100vw;
      margin: -53px 0 0 -10vw;
      padding-top: 60px;
      height: 100vh;
      background: rgba($background-color, 0.97);
      list-style-type: none;
      transform-origin: 0 0;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

      & li {
        margin: 2rem 0;
      }
    }

    &-link {
      display: block;
      width: 100vw;
    }

    &__logout {
      top: 9rem;
    }
  }
}
