<div class="container main">
  <header class="leaderboard leaderboard__header">
    <ul class="leaderboard__list">
      <li class="leaderboard__field--index">№</li>
      <li class="leaderboard__field leaderboard__player-name">name</li>
      <li class="leaderboard__field">score</li>
      <li class="leaderboard__field">level</li>
      <li class="leaderboard__field">lines</li>
    </ul>
  </header>
  <ul class="leaderboard" *ngFor="let result of gameResults; let i = index">
    <li class="leaderboard__list" [ngClass]="{ active: currentPlayerName === result.username }">
      <span class="leaderboard__field--index">{{ i + 1 }}</span>
      <span class="leaderboard__field leaderboard__player-name">{{ result.username }}</span>
      <span class="leaderboard__field">{{ result.score }}</span>
      <span class="leaderboard__field">{{ result.level + 1 }}</span>
      <span class="leaderboard__field">{{ result.lines }}</span>
    </li>
  </ul>
  <div class="leaderboard__current-player" *ngIf="isCurrentPlayerNotInTop">
    <div class="point"></div>
    <div class="point"></div>
    <div class="point"></div>
    <p>Your best score:</p>
    <ul class="leaderboard">
      <li class="leaderboard__list">
        <span class="leaderboard_index">{{ currentPlayerIndex + 1 }}</span>
        <span class="leaderboard__field leaderboard__player-name">{{
          currentPlayerNotInTop.username
        }}</span>
        <span class="leaderboard__field">{{ currentPlayerNotInTop.score }}</span>
        <span class="leaderboard__field">{{ currentPlayerNotInTop.level }}</span>
        <span class="leaderboard__field">{{ currentPlayerNotInTop.lines }}</span>
      </li>
    </ul>
  </div>
</div>
