<div class="information">
  <div class="information-block">
    <p class="information-label">level</p>
    <div class="information-field">{{ (gameStats$ | async).level }}</div>
  </div>
  <div class="information-block">
    <p class="information-label">score</p>
    <div class="information-field">{{ (gameStats$ | async).score }}</div>
  </div>
  <div class="information-block">
    <p class="information-label">lines</p>
    <div class="information-field">{{ (gameStats$ | async).lines }}</div>
  </div>
</div>
