@import './src/assets/styles/variables';

.information {
  &-block {
    margin: $primary-indent;
  }
}

@media (max-width: $breakpoint-tablet) {
  .information {
    margin-bottom: 0.5rem;

    &-root {
      &__label {
        font-size: 1rem;
        flex-basis: 5rem;
      }
      &__field {
        height: $inform-field-height-mobile;
        width: $inform-field-width-mobile;
        margin: 0;
        line-height: $inform-field-height-mobile;
        font-size: 1rem;
      }
    }

    &-block {
      display: flex;
      margin: 0;
    }
  }
}
