<div class="state-controls">
  <div class="flex-max">
    <button atgLongPress [move]="figureMovement.ROTATE" class="state-control rotation">
      <img
        class="icon-arrow--secondary"
        src="../../../assets/images/arrowsRotate.png"
        alt="arrows"
      />
    </button>
  </div>
  <button atgLongPress [move]="figureMovement.LEFT" class="state-control left">
    <img class="icon-arrow" src="../../../assets/images/arrowsLeft.png" alt="arrows" />
  </button>
  <button atgLongPress [move]="figureMovement.RIGHT" class="state-control right">
    <img class="icon-arrow" src="../../../assets/images/arrowsRight.png" alt="arrows" />
  </button>
  <div class="flex-max flex-max--down">
    <button atgLongPress [move]="figureMovement.DOWN" class="state-control down">
      <img class="icon-arrow--secondary" src="../../../assets/images/arrowsDown.png" alt="arrows" />
    </button>
  </div>
</div>
