@import './src/assets/styles/variables';

.game {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  & .wrap-controls {
    margin-top: $primary-indent;
  }
}

.information {
  &-block {
    margin-right: $primary-indent;

    &--wrap {
      display: flex;
    }

    &--controls {
      margin-top: 4.5rem;
      text-align: center;
    }
  }
}

.board-canvas {
  border: $primary-border;
  background-color: $background-color;
}

.profile {
  display: flex;

  &__information {
    &--name {
      margin: 1rem 0;
      font-size: 3rem;
      text-transform: none;
    }
  }
}

.overlay {
  position: absolute;
  width: $board-width + 2px;
  height: $board-height + 3px;
  background-color: rgba($primary-color, $alpha);
  border: $hover-border-controls $default-color;
  text-align: center;
  line-height: $board-height;
  color: $secondary-color;
  font-size: $h1-font-size;
}
