<div class="container main">
  <section class="game">
    <div>
      <div *ngIf="gameStatus !== gameState.PLAY" class="overlay">{{ gameStatus }}</div>
      <canvas #spectate_canvas class="board-canvas"></canvas>
    </div>
    <div class="information">
      <div class="profile">
        <img
          *ngIf="!!player"
          class="icon"
          src="../../../assets/images/{{ player?.avatar }}"
          alt="icon"
        />
        <section class="profile__information">
          <p class="profile__information--name">{{ player?.username }}</p>
          <p>{{ age }} years, {{ player?.gender }}</p>
          <p>{{ player?.country }}</p>
        </section>
      </div>
      <div class="information-block--wrap">
        <div class="information-block">
          <p class="information-root__label">level</p>
          <div class="information-root__field">{{ gameInformation?.level }}</div>
        </div>
        <div class="information-block">
          <p class="information-root__label">score</p>
          <div class="information-root__field">{{ gameInformation?.score }}</div>
        </div>
        <div class="information-block">
          <p class="information-root__label">lines</p>
          <div class="information-root__field">{{ gameInformation?.lines }}</div>
        </div>
      </div>
    </div>
  </section>
</div>
