@import "./src/assets/styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: $max-width;
  margin: $center;
  padding: $secondary-indent;
}

.main {
  padding-top: $primary-indent;
  min-height: $min-height-main;
}
