@import './src/assets/styles/variables';
$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

html {
  font-size: 14px;
  letter-spacing: 1.5px;
  touch-action: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  max-width: $max-width;
  margin: $center;
  padding: $secondary-indent;
}

.main {
  padding: $primary-indent 2rem 5rem 2rem;
  min-height: $min-height-main;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-button {
  background: none;
  outline: none;
  border: $hover-border-controls;
  border-radius: $border-radius;
  width: $controls-button-width;
  line-height: $controls-button-height;
  margin: 1rem;
  font-size: inherit;
  text-transform: inherit;
  font-family: inherit;
  color: $default-color;
  transition: 0.3s ease-out;
}

.information-root__label {
  margin-bottom: $inform-field-margin;
  font-size: $default-font-size;
  text-align: center;
  color: $service-color;
}

.information-root__field {
  margin: $center;
  height: $inform-field-height;
  width: $inform-field-width;
  background-color: $background-color;
  border: $primary-border;
  line-height: $inform-field-height;
  font-size: $default-font-size;
  text-align: center;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
  text-transform: uppercase;
}
.toast-success {
  background-color: rgba($figure-color-fourth, 0.7) !important;
}
.toast-error {
  background-color: rgba($figure-color-second, 0.7) !important;
}
.toast-info {
  background-color: rgba($figure-color-seventh, 0.7) !important;
}
.toast-warning {
  background-color: rgba($figure-color-sixth, 0.7) !important;
}

@media (max-width: $breakpoint-tablet) {
  .game-button {
    width: 5rem;
    line-height: 3rem;
    font-size: 1rem;
  }

  .mobile-display-none {
    display: none;
  }
}
