//Color Palette
$primary-color: #000;
$secondary-color: #bf0117;
$default-color: #fff;
$service-color: #979797;
$background-color: #2b3a42;

//Figures
$figure-color-first: #ff00ff;
$figure-color-second: #ff0000;
$figure-color-third: #ffff00;
$figure-color-fourth: #00ff00;
$figure-color-fifth: #00ffff;
$figure-color-sixth: #ff7a24;
$figure-color-seventh: #0000ff;
$figure-size: 25px;
$figure-size-mobile: 20px;
$figure-quantity-width: 13;
$figure-quantity-height: 20;

//Fonts
$primary-font: Impact, 'Anton', sans-serif;
$default-font-size: 1.33rem;
$h1-font-size: 5rem;
$label-font-size: 2rem;
$text-form-font-size: 0.8rem;
$secondary-text-font-size: 1.5rem;

//Sizes
$center: 0 auto;
$max-width: 1200px;
$primary-indent: 2rem;
$secondary-indent: 0 2rem;
$min-height-main: 79.5vh;
$max-width-icon: 5rem;
$width-logo: 100%;
$width-form: 35rem;
$height-bar-links: 3rem;
$width-links: 7rem;
$width-information: 50rem;
$inform-field-width: 7rem;
$inform-field-width-mobile: 5rem;
$inform-field-height: 55px;
$inform-field-height-mobile: 30px;
$inform-field-margin: 1rem;
$controls-button-width: 7rem;
$controls-button-height: 3.5rem;
$board-width: $figure-size * $figure-quantity-width;
$board-width-mobile: $figure-size-mobile * $figure-quantity-width;
$board-height: $figure-size * $figure-quantity-height;
$board-height-mobile: $figure-size-mobile * $figure-quantity-height;

//General
$primary-border: 1.5px solid $default-color;
$border-radius: 1rem;
$hover-border: 1px solid $secondary-color;
$hover-border-controls: 3px solid;
$alpha: 0.85;

//Breakpoints
$breakpoint-tablet: 768px;
