<div class="container main">
  <div class="player">
    <img class="icon" src="../../../assets/images/Spiderwoman.ico" />
    <div class="player-inf">
      <p>Iryna Oleksandrovna</p>
      <span>best result 333</span>
    </div>
  </div>
  <div class="game">
    <atg-game-information></atg-game-information>
    <atg-game-board></atg-game-board>
    <div>
      <atg-game-next-figure></atg-game-next-figure>
      <div class="wrap-controls">
        <atg-game-state-controls></atg-game-state-controls>
        <atg-game-controls></atg-game-controls>
      </div>
    </div>
  </div>
</div>
