@import './src/assets/styles/variables';

.player {
  display: flex;
  align-items: center;

  & .icon {
    max-width: $max-width-icon;
  }

  &-inf {
    margin: $secondary-indent;
    font-size: $label-font-size;
    & span {
      font-size: $default-font-size;
    }
  }
}

.game {
  padding-top: $primary-indent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & .wrap-option {
    width: 55%;
  }

  & .wrap-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $primary-indent;
  }
}
