@import './src/assets/styles/variables';

.game {
  display: flex;
  justify-content: space-between;

  & .wrap-controls {
    margin-top: $primary-indent;
  }
  &__information {
    display: flex;
    flex-direction: column;

    & .next {
      order: -1;
    }

    & .stats {
      order: -1;
    }
  }
}

.game-button {
  &:hover {
    border-color: $primary-color;
    box-shadow: inset 0 (-$controls-button-height) 0 0 $secondary-color;
    cursor: pointer;
  }
}

.information {
  &-block--controls {
    text-align: center;
  }

  &-label {
    margin-bottom: $inform-field-margin;
    font-size: $default-font-size;
    text-align: center;
    color: $service-color;
  }
}

.spectator {
  margin-top: $primary-indent;

  &--no {
    margin-top: $primary-indent;
    color: $service-color;
  }

  &__list {
    margin-top: $primary-indent;
    text-transform: none;
    list-style: none;
  }
}

@media (max-width: $breakpoint-tablet) {
  .game {
    flex-wrap: wrap;
    align-items: start;
    margin-top: 1rem;
    justify-content: center;

    &__information {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      & .next {
        order: 1;
      }
      & .stats {
        order: 1;
      }
    }
    & .wrap-controls {
      margin-top: 0.2rem;
      display: flex;
      flex-direction: column;
    }
  }

  .game-controls {
    order: -1;
  }

  .spectator {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 1rem;

    &--no {
      margin: 0 1rem;
    }

    &__list {
      margin: 0 1rem;
    }

    &__item {
      display: inline-block;
      margin-right: 0.3rem;
    }
  }

  .information {
    &-block--controls {
      font-size: 1rem;
    }

    &-label {
      font-size: 1rem;
    }
  }
}
