<main class="container main">
  <div class="game">
    <div class="game__information">
      <section class="spectator">
        <p>Active Viewers:</p>
        <p *ngIf="!spectatorList || !spectatorList.size" class="spectator--no">No Viewers</p>
        <ul class="spectator__list">
          <li *ngFor="let name of spectatorList" class="spectator__item">{{ name }}</li>
        </ul>
      </section>

      <atg-game-next-figure class="next"></atg-game-next-figure>
      <atg-game-information class="stats"></atg-game-information>
    </div>
    <atg-game-board></atg-game-board>
    <div class="wrap-controls">
      <div class="information-block--controls mobile-display-none">
        <p class="information-label">
          {{ isCustomControls ? 'use custom controls' : 'use default controls' }}
        </p>
        <a class="header-link" routerLink="/option" routerLinkActive="active-link">
          <button class="game-button">
            change
          </button>
        </a>
      </div>
      <atg-game-state-controls class="state-controls"></atg-game-state-controls>
      <atg-game-controls class="game-controls"></atg-game-controls>
    </div>
  </div>
</main>
