<div class="container main">
  <div class="player">
    <img class="icon" src="../../../assets/images/Spiderwoman.ico" />
    <div class="player-inf">
      <p>Iryna Oleksandrovna</p>
      <span>Level 333</span>
    </div>
  </div>
  <div class="game">
    <atg-game-board class="game-board"></atg-game-board>
    <div>
      <atg-game-information></atg-game-information>
      <atg-game-controls></atg-game-controls>
      <atg-game-state-controls></atg-game-state-controls>
    </div>
  </div>
</div>
